.calculator {
  display: flex;
  height: 200px;
  width: 200px;
  flex-direction: column;
}

.operators {

}

.digitKeys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 200px;
}

.display {
  height: 75px;
  width: 200px;
}

.keypad {
  display: flex;

}
